.App {
  text-align: center;
  padding: 1em;
  height: 100vh;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 10rem solid transparent;
  border-bottom: 10rem solid transparent;
  border-left: 10rem solid #1a5d1a;
}
.arrow-right:hover {
  border-left: 10rem solid #ffa1f5;
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 10rem solid transparent;
  border-bottom: 10rem solid transparent;
  border-right: 10rem solid #f1c93b;
}
.arrow-left:hover {
  border-right: 10rem solid #ffa1f5;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.text-content {
  /* padding: 3em; */
  font-size: 3em;
  font-weight: 800;
  flex-direction: column;
}

.triple-diamond {
  display: flex;
  width: 50%;
}

.container-triple {
  display: flex;
  flex-direction: column;
}

.text-above {
  flex-direction: column;
}
