.App {
  text-align: center;
  padding: 1em;
  height: 100vh;
}

h1,
h2,
h3 {
  font-weight: 300;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 11rem solid transparent;
  border-bottom: 11rem solid transparent;
  border-left: 11rem solid #191d88;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.arrow-text {
  color: white;
  margin-left: 4rem;
  margin-right: 4rem;
}
.arrow-right:hover {
  border-left: 11rem solid #45ffca;
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 11rem solid transparent;
  border-bottom: 11rem solid transparent;
  border-right: 11rem solid #ff6969;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.arrow-left:hover {
  border-right: 11rem solid #ffa1f5;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

h1.text-content {
  padding: 1em;
  font-weight: 300;
  flex-direction: column;
}
.text-content {
  padding: 1em;
  font-weight: 300;
  flex-direction: column;
}

.triple-diamond {
  display: flex;
  width: 50%;
}

.container-triple {
  display: flex;
  flex-direction: column;
}

.text-above {
  flex-direction: column;
}

.design-process {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.research-steps {
  text-align: left;
  padding: 0.5rem;
}
